<h1>Editing matchable_attribution</h1>

<% form_for(@matchable_attribution) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :matchable_id %><br />
    <%= f.text_field :matchable_id %>
  </p>
  <p>
    <%= f.label :matchable_attribute_id %><br />
    <%= f.text_field :matchable_attribute_id %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @matchable_attribution %> |
<%= link_to 'Back', matchable_attributions_path %>
