%h1 New matchable_attribute

- form_for(@matchable_attribute) do |f| 
  = f.error_messages 
  %p
    = f.label :name 
    = f.text_field :name 
  %p
    = f.label :description 
    = f.text_area :description 
  = f.hidden_field :person_id
  %p
    = f.submit "Create" 

= link_to 'Back', matchable_attributes_path 
