!!!
%html{html_attrs('en')}	
  %head
    %title= @page_title || APP_CONFIG[:site_name]
    <meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="distribution" content="all" />
    <meta name="robots" content="all" />	
    <meta name="resource-type" content="document" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    = stylesheet_link_tag 'reset', 'layout', 'base', 'matchable' 
    = stylesheet_link_tag 'http://dev.jquery.com/view/tags/ui/latest/themes/flora/flora.all.css'
    = javascript_include_tag :defaults
    = javascript_include_tag "http://dev.jquery.com/view/tags/ui/latest/ui/ui.core.js", "http://dev.jquery.com/view/tags/ui/latest/ui/ui.slider.js"
    = javascript_include_tag 'ready'
    = stylesheet_link_tag "blueprint/screen.css", :media=>"screen, projection"
    = stylesheet_link_tag "blueprint/print.css", :media=>"print"
    ="<!--[if IE]>"
    = stylesheet_link_tag "css/blueprint/ie.css", :media=>"screen, projection"
    ="<![endif]-->"
  %body
    #container.column.span-24.last
      #header.column.span-24.last
        #logo.column.span-6
          =link_to(image_tag('logo.png'), '/')
        #nav.column.span-18.last
          %ul.inline
            - if logged_in?
              %li= link_to 'Logout', logout_path
            - else
              %li= link_to 'Login', login_path
              %li=""# link_to 'Signup', signup_path 
      #content.column.span-24.last
        = flash_messages
        = yield :layout
      #left_sidebar.column.span-8
        = yield :left_sidebar
      #right_sidebar.column.span-8
        = yield :right_sidebar
      #footer.column.span-24.last
        %p= @page_footer || APP_CONFIG[:footer]
      
        