!!!
%html{html_attrs('en')}	
  %head
    %title= @page_title || APP_CONFIG[:site_name]
    <meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="distribution" content="all" />
    <meta name="robots" content="all" />	
    <meta name="resource-type" content="document" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    = stylesheet_link_tag 'reset', 'layout', 'base', 'matchable' 
    = stylesheet_link_tag 'http://dev.jquery.com/view/tags/ui/latest/themes/flora/flora.all.css'
    = javascript_include_tag :defaults
    = javascript_include_tag "http://dev.jquery.com/view/tags/ui/latest/ui/ui.core.js", "http://dev.jquery.com/view/tags/ui/latest/ui/ui.slider.js"
    = javascript_include_tag 'ready'
  %body
    #container
      #header
        #logo
          =link_to(image_tag('logo.png'), '/')
        #nav
          %ul
            - if logged_in?
              %li= link_to 'Logout', logout_path
            - else
              %li= link_to 'Login', login_path
              %li= link_to 'Signup', signup_path 
      #content
        = flash_messages
        = yield :layout
      #left_sidebar
        = yield :left_sidebar
      #right_sidebar
        = yield :right_sidebar
      #footer
        %p= @page_footer || APP_CONFIG[:footer]
      
        